.logo{
    max-width: 190px;
    max-height: 44px;
    width: 190px;
}

@media screen and (max-width: 320px){
    .logo{
        max-width: 156px;
        max-height: 36px;
        width: 156px;
    }
}