@import url(./place/place.css);

.places{
    max-width: 984px;
    margin: 92px auto;
}

@media screen and (max-width: 1024px){
    .places{
        max-width: 928px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 768px){
    .places{
        max-width: 720px;
        margin: 0 auto;
        margin-top: 88px;
        margin-bottom: 89px;
    }
}


@media screen and (max-width: 320px){
    .places{
        max-width: 100%;
        margin-top: 131x;
        margin-bottom: 65px;
    }
}