  .cover__subtitle{
    width: 320px;
    margin: auto 0;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    position: absolute;
    top: 391px;
    left: 432px;
    
}