@import url(./__links/header__links.css);
@import url(./__link/header__link.css);
@import url(./__lang-link/header__lang-link.css);
@import url(./__lang-link/_active/header__lang-link_active.css);

.header{
    max-width: 984px;
    margin: 34px auto 58px;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 1024px){
    .header{
        max-width: 928px;
    }
}

@media screen and (max-width: 768px){
    .header{
        max-width: 720px;
        margin-bottom: 50px;
    }
}
    
@media screen and (max-width: 450px){
    .header {
        max-width: 288px;
        margin-top: 20px;
    }
}