.header__link{
    margin: 0;
    padding: 0;
    margin-top: 12px;
    margin-bottom: 4px;
}

.header__link:nth-of-type(1){
    margin-right: 18px; 
    text-decoration: underline;
}

@media screen and (max-width:320px){
    .header__link{
        margin-top: 10px;
        margin-bottom: 6px;
    }
}