.intro__text{
    padding: 0;
    margin: 0;
    width: 100%;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    
}


@media screen and (max-width: 768px){
    .into__text{
        max-width: 100%;
    }
}

