.intro__text{
    padding: 0;
    margin: 0;
    width: 100%;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    
}

.intro__text:nth-of-type(1){
    margin-top: 40px;
    margin-bottom: 32px;
    font-size: 24px;
    line-height: 34px;
}

@media screen and (max-width: 768px){
    .into__text{
        max-width: 100%;
    }
}

@media screen and (max-width: 320px){
    .into__text{
        max-width: 100%;
    }

    .intro__text:nth-of-type(1){
        font-size: 24px;
        line-height: 30px;
    }
}

