.cover__background{
    background-image: url(../../../images/cover-route-66.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 1184px;
    height: 740px;
    object-fit: cover;
}
