.place__paragraph{
    max-width: 100%;
    margin: 0;
    padding: 0;
    margin-bottom: 27px;
}

.place__paragraph:last-child{
    margin-bottom: 0;
}

@media screen and (max-width: 1024px){
    .place__paragraph{
        max-width: 100%;
    }
}


@media screen and (max-width: 768px){
    .place__paragraph{
        max-width: 100%;
        font-size: 16px;
        line-height: 26px;
        margin-bottom: 25px;
    }

    .place__paragraph:last-child{
        margin-bottom: 0;
    }
}

@media screen and (max-width: 320px){
    .place__paragraph{
        max-width: 100%;
        border: 1px solid red;
    }
}