@import url(./__title/place__title.css);
@import url(./__image/place__image.css);
@import url(./__website/place__website.css);
@import url(./__url-heading/place__url-heading.css);
@import url(./__link/place__link.css);
@import url(./__paragraphs/place__paragraphs.css);
@import url(./__paragraph/place__paragraph.css);

.place{
    max-width: 984px;
    margin: 0 auto 80px;
    display: grid;
    grid-template-columns: 480px 484px;
    grid-template-rows: auto auto;
    grid-gap: 48px 40px;
}

.place:last-of-type{
    margin-bottom: 0;
}

@media screen and (max-width: 1024px){
    .place{
        max-width: 928px;
        margin: 0 auto 80px;
        display: grid;
        grid-template-columns: 440px 456px;
        grid-template-rows: auto auto;
        grid-gap: 48px 32px;
    }

    .place:last-of-type{
        margin-bottom: 0;
    }
}


@media screen and (max-width: 768px){
    .place{
        max-width: 720px;
        display: grid;
        grid-template-columns: 340px 352px;
        grid-template-rows: auto auto;
        grid-gap: 48px 28px;
        margin: 0 auto 73px;
    }
    .place:last-of-type{
        margin-bottom: 0;
    }
}


@media screen and (max-width: 320px){
    .place{
        max-width: 100%;
        display: block;
        margin-bottom: 49px;
    }

    .place:last-of-type{
        margin-bottom: 0;
    }
}
