.place__website{
    max-width: 456px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}


@media screen and (max-width: 768px){
    .place__website{
        max-width: 340px;
    }
}

@media screen and (min-width: 321px) and (max-width: 767px){
    .place__website{
        max-width: 288px;
        margin: 0 auto;
    }
}


@media screen and (max-width: 320px){
    .place__website{
        display: none;
    }
}