.place__website{
    max-width: 456px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}


@media screen and (min-width: 451px) and (max-width: 707px){
    .place__website{
        margin: 0 auto;
        max-width: 288px;
        
    }
}

@media screen and (min-width: 321px) and (max-width: 450px){
    .place__website{
        
        max-width: 288px;
        
    }
}

@media screen and (max-width: 320px){
    .place__website{
        display: none;
    }
}